@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
.container{
    background-color: cornflowerblue;
    overflow: hidden;
}
.container a{
    float: left;
    padding: 20px 16px;
    text-align: center;
    display: block;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}
.search-container{
    float: right;
}
input[type=text]{
    padding: 6px;
    margin-top: 13px;
    border: none;
    border-radius: 15px;
    outline: 0;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .movie{
    width: 300px;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0,1);
    position: relative;
    overflow: hidden;
  }

  .movie img{
    width: 100%;
    /* filter: gray;
    -webkit-filter: grayscale(1); */
  }
  
  .movie img:hover{
     filter: gray;
    -webkit-filter: grayscale(1);
  
  }
  
  .movie-info{
     color: #0A81AB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    background-color: #000;
  
  }
  
  .movie-info h3{
    margin-top: 0;
  }
  
  .movie-info span{
    background-color: #0A81AB;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
  }
  .overview{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    background-color: white;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    
  }
  
  .movie:hover .overview{
    transform: translateY(0);
  }
  

  /* modal starts here */
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #0A81AB;
    margin: 15% auto; 
    padding: 20px;
    border: 10px solid #F9DFDC;
    width: 50%; 
    border-radius: 10px;
  }
  .modal-content img{
    width: 50%;
    display: block;
    margin: auto;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
